<!DOCTYPE html>
<html>
<head>
    <title>Access Granted</title>
    <style>
        body {
            font-family: Arial;
            background: #d4ffd4;
            text-align: center;
            padding-top: 100px;
        }

        #box {
            background: white;
            padding: 40px;
            width: 400px;
            margin: auto;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
        }

        h1 {
            color: green;
        }
    </style>
</head>
<body>

<div id="box">
    <h1>Access Granted ✔</h1>
    <p>Welcome! Your identity has been verified successfully.</p>
</div>

</body>
</html>
